*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 0px;
}

section{  
    border: 3px solid rgb(198, 181, 140);
    border-radius: 15px;
    background-image: url("./images/backgroundpokedex.png");
    display: flex;
    flex-direction: column;
}

h1{
    color: rgb(255, 255, 236);
    width: 100%;
    height: 80px;
    display: grid;
    align-items: center;
    text-align: center;
    background: rgb(198, 181, 140);
}


#liste{
    color: rgb(56,56,56);
    font-size: larger;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    align-self: center;
    width: 100%;
    max-width: 1147px;
    list-style: decimal;
    
}

.pokemon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    max-height: 210px;
    max-width: 296px;
    border: 3px solid rgb(198, 181, 140);
    margin: 10px 5px 0px 5px;
    padding: 0px;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.2);
}

p{
    text-transform: capitalize;
    background-color: white;
    margin-left: 10px;
    margin-top: 30px;
    padding: 2px 10px 2px 10px;
    border: 0px solid rgb(198, 181, 140);
    
    font-weight: 400;
    text-justify: auto;
    z-index: 1;
    transform: translateY(-20px);
}

p img{
    margin-top: 5px;
}

.description{
    
    margin: 0px;
    padding-top: 5px;
    background-color: rgb(231, 222, 198);
    border-top: 2px solid rgb(123, 99, 57);
    border-bottom: 100px solid rgb(231, 222, 198);
    font-size: smaller;
    width: 296px;
    text-align: justify;
    text-justify: inter-word;
}

.sprite{
    border: 0px solid red;
    height: 96px;
    width: 96px;
    background-color: rgb(198, 181, 140);
    border-radius: 50px;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

@keyframes couleurHover{
    0%{
        background-color: rgb(198, 181, 140);
    }
    35%{
        background-color: rgb(214, 165, 123);
    }
    75%{
        background-color: rgb(231, 148, 123);
    }
    100%{
        background-color: rgb(247, 132, 107);
    }
}
@keyframes borderHover{
    0%{
        border-color: rgb(198, 181, 140);
    }
    35%{
        border-color: rgb(214, 165, 123);
    }
    75%{
        border-color: rgb(231, 148, 123);
    }
    100%{
        border-color: rgb(247, 132, 107);
    }
}


.pokemon:hover{
    animation-duration: 0.2s;
    animation-name: borderHover;
    animation-fill-mode: forwards;
}

.pokemon:hover .sprite{
    animation-duration: 0.2s;
    animation-name: couleurHover;
    animation-fill-mode: forwards;
}
