@font-face {
    font-family: PKMN;
    src: url(./PKMN-Mystery-Dungeon.ttf);
}

*{
    font-family: PKMN, Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 0px;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#maps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 40px;
}
#maps #instructions{
    grid-column: 2 / span 2;
    place-self: center;
}
#maps .Kanto{
    grid-row: 2;
    grid-column: 2;
    place-self: center;
    
    border: 8px solid transparent;
    border-width: 8px;
    border-image-source: url(./images/bordure-rouge.png);
    border-image-slice: 8;
    border-image-repeat: round;
    
}
#kantoHover{
    z-index: 2;
    grid-column: 2;
    grid-row: 2;
    width: 192px;
    height: 144px;
    place-self: center;
}
#kantoHover:hover{
    background: linear-gradient(245deg, rgba(255,255,255,0.07324936810661764) 3%, rgba(255,255,255,0.5774510487788865) 13%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 78%, rgba(255,255,255,0.6418768190870099) 81%, rgba(255,255,255,0) 83%);
    box-shadow: inset 4px 4px 5px white, inset -4px -4px 5px white;
}
#kantoText{
    font-size: xx-large;
    grid-column: 2;
    grid-row: 3;
    place-self: center;
}
#maps .Johto{
    grid-column: 3;
    grid-row: 2;
    width: 192px;
    height: 144px;
    place-self: center;
    border: 8px solid transparent;
    border-width: 8px 16px 8px 8px;
    border-image-source: url(./images/bordure-soulsilver.png);
    border-image-slice: 10 26 10 12;
    border-image-repeat: round;
    
}
#johtoHover{
    z-index: 2;
    grid-column: 3;
    grid-row: 2;
    width: 192px;
    height: 144px;
    place-self: center;
    transform: translateX(-4px);
}
#johtoHover:hover{
    background: linear-gradient(146deg, rgba(255,255,255,0.07324936810661764) 3%, rgba(255,255,255,0.5774510487788865) 13%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 78%, rgba(255,255,255,0.6418768190870099) 81%, rgba(255,255,255,0) 83%);
    box-shadow: inset 4px 4px 5px white, inset -4px -4px 5px white;

    
}

#maps .Johto{
    grid-row: 2;
    grid-column: 3;
    place-self: center;
    font-size: xx-large;
}
#johtoText{
    font-size: xx-large;
    grid-column: 3;
    grid-row: 3;
    justify-self: center;
    align-self: center;   
}


section{
    border: 4px solid rgb(198, 181, 140);
    border-radius: 15px;
    background-image: url("./images/backgroundpokedex.png");
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(255, 255, 236);
    font-size: xx-large;
    width: 100%;
    height: 80px;
    display: grid;
    align-items: center;
    text-align: center;
    background: rgb(198, 181, 140);
    margin-top: 10px;
}


#pokemons{
    color: rgb(56,56,56);
    font-size: xx-large;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    grid-template-rows: 260px;
    align-self: center;
    width: 100%;
    max-width: 1147px;
    list-style: decimal;
    padding-bottom: 15px;
    
}

.pokemon{
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    max-height: 255px;
    max-width: 296px;
    border: 4px solid rgb(198, 181, 140);
    margin: 10px 5px 0px 5px;
    padding: 0px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.2);
}

.pkmnInfos{
    text-transform: capitalize;
    background-color: white;
    margin-left: 10px;
    padding-left: 10px;
    border: 0px solid rgb(198, 181, 140);
    font-weight: 400;
    text-justify: auto;
    z-index: 1;

    grid-column: 1 / span 2;
    grid-row: 1;
    height: 10px;
    align-self: start;
    transform: translateY(-30px);
}

.description{
    margin: 0px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(231, 222, 198);
    border-top: 3px solid rgb(123, 99, 57);
    font-size: x-large;
    max-height: 125px;
    overflow-y: auto;
    scrollbar-color: rgb(123, 99, 57) #a89674;
    scrollbar-width: thin;
    text-align: justify;
    text-justify: inter-word;
    text-transform: none;
    grid-column: 1 / span 3;
    grid-row: 2;
}

.sprite{
    height: 96px;
    width: 96px;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;
    grid-column: 3;
    grid-row: 1;
}

.spriteBackground{
    height: 96px;
    width: 96px;
    background-color: rgb(198, 181, 140);
    border-radius: 50px;
    z-index: 1;
    margin-top: 10px;
    margin-right: 10px;
    grid-column: 3;
    grid-row: 1;
}

@keyframes couleurHover{
    0%{
        background-color: rgb(198, 181, 140);
    }
    35%{
        background-color: rgb(214, 165, 123);
    }
    75%{
        background-color: rgb(231, 148, 123);
    }
    100%{
        background-color: rgb(247, 132, 107);
    }
}
@keyframes linkHover{
    0%{
        color: rgb(0,0,0);
        text-shadow: 1px 1px 0px transparent;
    }
    100%{
        color: rgb(247, 132, 107);
        text-shadow: 1px 1px 0px black;
    }
}
@keyframes borderHover{
    0%{
        border-color: rgb(198, 181, 140);
    }
    35%{
        border-color: rgb(214, 165, 123);
    }
    75%{
        border-color: rgb(231, 148, 123);
    }
    100%{
        border-color: rgb(247, 132, 107);
    }
}


.pokemon:hover{
    animation-duration: 0.4s;
    animation-name: borderHover;
    animation-fill-mode: forwards;
}

.pokemon:hover .spriteBackground{
    animation-duration: 0.2s;
    animation-name: couleurHover;
    animation-fill-mode: forwards;
}

footer{
    border: 4px solid transparent;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    margin-top: 10px;
    background-image: none;
    display: grid;
    grid-column: 2 / span 2;
}

footer p{
    background: none;
    font-size: x-large;
    text-align: center;
    grid-row: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: none;
}

footer.FireRed{
    border-width: 8px;
    border-image-source: url(./images/bordure-rouge.png);
    border-image-slice: 8;
    border-image-repeat: round;
}

footer.Heartgold{
    border-width: 16px;
    border-image-source: url(./images/bordure-heartgold.png);
    border-image-slice: 16 20 16 16;
    border-image-repeat: round;
}

a{
    color: rgb(0,0,0);
}

a:hover{
    animation-duration: 0.2s;
    animation-name: linkHover;
    animation-fill-mode: forwards;
}

@keyframes couleursPlaceholder{
    0%{
        background-color: white;
    }
    50%{
        background-color: rgb(123, 99, 57)
    }
    100%{
        background-color: white;
    }
}

#placeholder{
    animation-name: couleursPlaceholder;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    display: none;
}